# <center>Basics</center>

## Let's write our first "Hello world!" program :)

- Run on interactive shell

- Run as python script

[Let's solve our first challenge!](https://www.hackerrank.com/challenges/py-hello-world)

In [1]:
print("Welcome to CB")

Welcome to CB

## Putting comments


![](images/comments.jpg)

> Code tells you how, comments should tell you why.

In [2]:
# this is a comment
# hey
# bye

In [6]:
"""
there is no multiline comment in python
"""

'\nthere is no multiline comment in python\n'

## Literal constants

- Numbers
    - Integers
    - Floats
    - Complex
- Strings
    - Single quotes
    - Double quotes
    - Triple quotes
    - Escape sequences (\n, \t, \r)
    - Explicit line joining

In [7]:
a = 56789876543567890876543256789098765434567

In [9]:
type(a)

int

In [18]:
type(-(a ** 1000))

int

In [21]:
f = float(a)

In [22]:
int(f)

56789876543567888434595344403791561621504

In [29]:
c = 55 + 7j

NameError: name 'j' is not defined

In [28]:
c.imag

7.0

## Variables

A type of **identifier**.

Rules for naming identifiers:

- The first character of the identifier must be a letter of the alphabet (uppercase ASCII or lowercase ASCII or Unicode character) or an underscore (_).
    
- The rest of the identifier name can consist of letters (uppercase ASCII or lowercase ASCII or Unicode character), underscores (_) or digits (0-9).
    
- Identifier names are case-sensitive. For example, myname and myName are not the same. Note the lowercase n in the former and the uppercase N in the latter.
    
Examples of valid identifier names are i, name_2_3. 


Examples of invalid identifier names are 2things, this is spaced out, my-name and >a1b2_c3.

In [30]:
_ = 5

In [33]:
__ = 6

In [34]:
_44 = 77

In [35]:
h55__ = 99

In [37]:
6__ = 8 # you can not start with digit name

SyntaxError: invalid token (<ipython-input-37-e5c0d10ed82c>, line 1)

## Data Types

Variables can hold values of different types called data types. 

The basic types:
- numbers
- strings

In [38]:
name = 'An"uj'
name2 = "Anuj"
name3 = """Anuj"""

In [42]:
name3 = """Anuj is a good \teacher.

He is very helpful"""


## raw string
name4 = """Anuj is a good teacher.



He is very helpful"""

In [43]:
name4

'Anuj is a good teacher.\n\n\n\nHe is very helpful'

## Indentation

![](images/indent.jpg)

- Whitespace is important in Python. 

- Actually, whitespace at the beginning of the line is important. This is called indentation. 

- Leading whitespace (spaces and tabs) at the beginning of the logical line is used to determine the indentation level of  the logical line, which in turn is used to determine the grouping of statements.

- This means that statements which go together must have the same indentation. Each such set of statements is called a block.

In [54]:
a = 7

if a == 6:
    print("Dekho maine bola hi tha")
    print("fine")

print("Ye bhi hoga")

Ye bhi hoga

## Issue with indentation

### Tabs vs spaces

![](images/tabs_vs_spaces.jpg)

### The solution...

![](images/usetabs.jpeg)

## Something more about print function...

- format method

- **end** and **sep**

In [37]:
line = "My name is {}. And I am in class {}."

In [39]:
some = line.format("Anuj Garg", "10th")

In [40]:
print(some)

My name is Anuj Garg. And I am in class 10th.

In [41]:
b = "10"

'10'

In [43]:
print(b)

10

In [44]:
a = 10

In [45]:
a = a + 10

## Taking user input

- input() function

- concept of typecasting

In [46]:
a = input()

 123

In [47]:
a

'123'

## Type Coercion

In [54]:
b = complex(a)

In [55]:
type(b)

complex

In [51]:
type(a)

str

In [56]:
b

(123+0j)

In [57]:
a = "Anuj"

In [58]:
float(a)

ValueError: could not convert string to float: 'Anuj'

In [62]:
b = 0x10

In [63]:
b

16